# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

help/
driver/ctrl/
driver/release/mcs341/*
!driver/release/mcs341/driver_version_check
driver/release/mc341/*
!driver/release/mc341/driver_version_check
lib/release/**/*
sample/ssi/etc/
sample/aio/etc/
